# Node
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET / C#
bin/
obj/
.vs/
*.user
*.suo
appsettings.Development.json

# Python / ML
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.venv/
ml_service/models/*.joblib
ml_service/datasets/*.csv

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
